
.slider--teams {
    position: relative;
    max-width: 750px;
    opacity: 0;
}

.slider--teams .slider--teams__team {
    position: relative;
    overflow: hidden;
}

#list {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#list li {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: right;
    line-height: 46px;
}
#list li figure {
    cursor: pointer;
    opacity: 0.65;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 450ms ease-in-out, -webkit-transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
    transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out, -webkit-transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: scale(0.5) translateZ(0px);
    transform: scale(0.5) translateZ(0px);
    border-radius: 10px;
    box-shadow: 0px 0px 26px -6px black;
}
#list li figure:hover {
    opacity: 0.9;
    -webkit-transform: scale(0.6) translateZ(0px);
    transform: scale(0.6) translateZ(0px);
}
#list li figure:active {
    opacity: 1;
    -webkit-transform: scale(0.7) translateZ(0px);
    transform: scale(0.7) translateZ(0px);
}
#list li figure > div > div {
    background: url(../img/teams.jpg) no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 170px;
    -webkit-transform: rotate(-45deg) translate(0%, -70%);
    transform: rotate(-45deg) translate(0%, -70%);
}
#list li figure figcaption h2 {
    color: #333;
    font-size: 1.6rem;
    font-weight: 800;
}
#list li figure figcaption p {
    color: #666;
    font-size: 0.9rem;
    font-weight: 400;
}
#list li:nth-child(1) figure > div > div {
    background-position: 0px 0px !important;
}
#list li:nth-child(2) figure > div > div {
    background-position: 0px 20% !important;
}
#list li:nth-child(3) figure > div > div {
    background-position: 0px 40% !important;
}
#list li:nth-child(4) figure > div > div {
    background-position: 0px 60% !important;
}
#list li:nth-child(5) figure > div > div {
    background-position: 0px 80% !important;
}
#list li:nth-child(6) figure > div > div {
    background-position: 0px 100% !important;
}

.active {
    opacity: 1 !important;
    -webkit-transform: scale(1) translateZ(0px) !important;
    transform: scale(1) translateZ(0px) !important;
}
.nuevo {
    z-index: -1;
}
.nuevo > figure {
    transform: scale(0.9) translateX(-14%) translateZ(-1px) !important;
}
.previo {
    transform: scale(0.9) translateX(14%) !important;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}